#.env

## Server
SERVER_PORT=3003

NODE_ENV=developement

#MongoDB Default Setup
MONGO_DB_DATABASE=gdp
MONGO_DB_HOST=localhost
MONGO_DB_PORT=27017
MONGO_DB_USERNAME=root
MONGO_DB_PWD=root
MONGO_DB_URL=mongodb://root:root@localhost:27017

# Redis

REDIS_HOSTNAME=localhost
REDIS_PORT=6379

# Token

TOKEN_JWT_SECRET=|}N)*j<Eb5Gp8VxN|?2D

#mail Default Setup
MAIL_HOST="smtp.hostinger.com"
MAIL_PORT_HOST=465
MAIL_USER=portail@gdlp.be
MAIL_PWD=Coucou*86
