<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>MongoDB status: <%= mongo %>
    </p>
    <p>Redis status: <%= redis %>
    </p>
</body>

</html>